html{
    font-family:'Comic Sans MS', cursive
}
body{
    background: rgb(64,0,79);
background: linear-gradient(90deg, rgba(64,0,79,1) 0%, rgba(60,9,121,1) 35%, rgba(248,0,255,1) 100%);
color: aliceblue;
}
.container{
    display: flex;
    margin: 18%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding:5px;
    

}
label{
    margin: 0% 2% 0% 2%;
}
.btnsubmit{
    background: rgb(113,0,139);
background: linear-gradient(90deg, rgba(113,0,139,1) 0%, rgba(99,14,201,1) 35%, rgba(255,0,99,1) 100%);
margin-left: 2%;
border-radius:10%;
color:aliceblue;
font-weight: bold;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
textarea{
    border-radius: 10%;
}